<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->

        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-shop.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>kita pena</title>
    </head>
 
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <main class="">
            <%- include('jumbo') %>

            <div class="product-list container">
            <% if (products.length) {
            for (product of products) { %>
                <a class="product row mb-md-5" href="/product/<%= product.id %>">
                    <div class="product-img col-12 col-md-3">
                        <% // On vérifie la disponibilité vis à vis du panier en cours
                        let front_available = product.available;
                        if (session.cart) {
                            for (cart_product of session.cart.products) {
                                if (cart_product.id == product.id) front_available = false
                            } 
                        } %>
                        <% if (!front_available) { %>
                        <span class="sold-out"> Indisponible </span>
                        <% } %>

                        <!-- Affichage des différentes images -->
                        <img class="w-100" src="/img/<%= product.image[product.image_pos] %>">
                    </div>

                    <div class="col-12 col-md-7 d-flex flex-column justify-content-between pl-4">
                        <div class="product-infos mt-2 mt-md-0">
                            <span class="product-name pb-md-3"><%= product.name %></span>
                            <span class="product-price pb-md-3"><%= product.price %>€</span>
                            <span class="product-desc d-none d-md-block"><%= product.description %></span>
                        </div>

                        <div class="product-gallery row d-none d-md-flex">
                            <% let first_image = true;
                            for (image of product.image) { 
                                if (image != product.image[product.image_pos]) { %>
                            <div class="product-img col-3 mr-3 shadow">
                                <img class="w-100" src="/img/<%= image %>">
                            </div>
                            <% first_image = false;
                            } }%>
                        </div>
                    </div>

                    <div class="product-arrow col-2 d-none d-md-block">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </a>
            <% } }%>
            </div>               
        </main>

        <footer>
            <%- include('footer') %>
        </footer>
    </body>

    <script type="text/javascript">
        // On fait defiler les iamges sur l'apercu du produit
        let eventHook, element, index;
        $('div.product-img').hover(function(){
            element = $(this);
            // Si le produit a bien plus d'une image, on les fait defiler
            if (element.find('img').length > 1) {
                index = 1;
                eventHook = setInterval(function(){
                    element.find('img').addClass('hidden');
                    element.find('img').eq(index).removeClass('hidden');
                    if (index+1 >= element.find('img').length) index=0;
                    else index++;
                }, 2000);               
            }

        }, function () {
            // On enlève la callback et on remet l'image de base
            clearInterval(eventHook);
            element.find('img').addClass('hidden');
            element.find('img').first().removeClass('hidden');
        });

    </script>
</html>