<!DOCTYPE html>
<% function nl2br (str, is_xhtml) {
    if (typeof str === 'undefined' || str === null) {
        return '';
    }
    var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br/>' : '<br/>';
    return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
} %>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-product.css">
        <link rel="stylesheet" type="text/css" href="/css/style-shop.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">
        <title>Strange Day</title>
    </head>
 
    <body>
    	<header>
            <%- include('navbar') %>
        </header>

        <main>
        	<%- include('jumbo') %>

    		<div class="container-fluid row m-0">
    			<div class="product-left col-md-7 pr-md-5 mb-4">
    				<!----------------  CAROUSEL ------------->
    				<div class="carousel-container d-flex">
					  	<div class="carousel-indicators m-0 mt-4 m-md-0 mx-md-4">
					  		<%  let imageList = product.image;
					  			
					  			// correction temporaire du bug des ImageList
					  			if (imageList) {
						  			for (var i=0; i< imageList.length; i++) { %>
									<div data-target="#carouselProduct" data-slide-to="<%= i %>" class="pr-4 p-md-0 pb-md-4 <% if (!i) { %> active <% } %>">
							    		<img src="/img/<%= imageList[i] %>">
							    	</div>
						  		<% } 
					  			} %>
					  	</div>
	    				<div id="carouselProduct" class="carousel slide mb-md-5" data-ride="carousel">
						  	<div class="carousel-inner">
					  			<% // correction temporaire du bug des ImageList
					  			if (imageList) {
						  			for (var i=0; i< imageList.length; i++) { %>
							    		<div class="carousel-item <% if (!i) { %> active <% } %>">
							      			<img class="d-block w-100" src="/img/<%= imageList[i] %>">
							    		</div>
						    		<% } 
						    	} %>
						  	</div>
						  	<a class="carousel-control-prev" href="#carouselProduct" role="button" data-slide="prev">
							    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							    <span class="sr-only">Previous</span>
						  	</a>
						  	<a class="carousel-control-next" href="#carouselProduct" role="button" data-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
		  					</a>
						</div>
					</div>
					<!------------------------- MOBILE ONLY ------------------------------->
	    			<div class="product-desc d-md-none d-block">
	    				<div class="w-100 border-bottom my-4"></div>
		    			<span class="desc mb-3" style="text-transform: none; display: block;">
		    				<%- nl2br(product.description) %>
		    			</span>
		    			
		    			<div class="infos mb-1">
		    				<span class="title">Composition </span>
		    				<span><%= product.composition %></span>
		    			</div>
		    			<!--<div class="ref mb-1">
		    				<span class="title">Reference </span>
		    				<span><%= product.id %></span>
		    			</div>-->
		    			<!-- <a class="size-chart mt-3" href="#" data-toggle="modal" data-target="#sizeChartModal" name="delete-product">Guide des tailles</a> -->
    				</div>
    			</div>
    			
    			<!------------------------- PC ONLY ------------------------------->
	    		<div class="product-payout col-md-4 d-none d-md-block p-0 mt-4">
	    			<div class="sticky-top sticky-offset">
	    				<div class="row pb-2">
	    					<span class="product-name"><%= product.name %></span>
		    			</div>
		    			<div class="row">
		    				<span class="product-price"><%= product.price %>€</span>
		    			</div>
		    			<!-- <div class="w-100 border-bottom my-4"></div> -->
		    			<div class="product-desc">
			    			<span class="row desc my-4" style="text-transform: none; display: block;">
			    				<%- nl2br(product.description) %>
			    			</span>

			    			<div class="row infos mb-1">
			    				<span class="title">Composition </span>
			    				<span><%= product.composition %></span>
			    			</div>
	    				</div>
	    				<div class="w-100 border-bottom my-4"></div>
		    			<div class="row">
			    			<form class="form-product w-100">

			    				<% // On vérifie la disponibilité vis à vis du panier en cours
			    				let front_available = product.available;
			    				if (session.cart) {
				    				for (cart_product of session.cart.products) {
				    					if (cart_product.id == product.id) front_available = false
				    				} 
				    			} %>						    
			    				<button class="btn btn-cart col-7 <% if (!front_available) { %> hide <% } %>" type="submit" name="add-cart">
			    					Ajouter dans le panier <i class="fas fa-shopping-cart ml-2"></i>
			    				</button>
			    				<button class="btn btn-secondary col-7 <% if (front_available) { %> hide <% } %>" disabled=true type="submit" name="not-available">
			    					Indisponible à l'achat
			    				</button>
			    			</form>
			    		</div>
	    			</div>
	    		</div>
	    	</div>
            <!-- MODAL SIZE CHART -->
            <div class="modal fade" id="sizeChartModal" tabindex="-1" role="dialog" aria-labelledby="sizeChartModalLabel" aria-hidden="true">
                <div class="modal-dialog w-100" role="document">
                    <div class="modal-content">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 15px;top: 10px;z-index: 1;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        <div class="modal-body rounded p-4" style="text-transform:none; font-weight: 500;">
                            <img class="w-100" src="/img/Guide_de_taille2.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
		<!---------------------- MOBILE ONLY ---------------------------->
		<div class="sticky-bottom product-payout d-md-none d-block w-100 p-3 shadow-lg">
			<div class="row mx-2 mb-2">
				<span class="product-name col-10 p-0"><%= product.name %></span>
				<span class="product-price col-2 p-0 text-right"><%= product.price %>€</span>
			</div>
			<form class="form-product w-100" action="/add-cart" method="post">
				<button class="btn btn-cart col <% if (!front_available) { %> hide <% } %>" type="submit" name="add-cart">
					Ajouter dans le panier <i class="fas fa-shopping-cart ml-2"></i>
				</button>
				<button class="btn btn-secondary col <% if (front_available) { %> hide <% } %>" disabled=true type="submit" name="not-available">
					Indisponible à l'achat
				</button>
			</form>
		</div>
    </body>

    <script type="text/javascript">
    	// On gère les carousels mobile et pc
		$('#carouselProduct').on('slide.bs.carousel', function (data) {
			$(`.carousel-indicators div`).removeClass('active');
			$(`.carousel-indicators div[data-slide-to=${data.to}]`).addClass('active');
		})

		// Reconstruit le panier avec les données envoyées
		function updateCart(cart) {
        	$('.navbar-cart span').text(cart.nb_products); // On met à jour l'indicateur du panier
            $('div.cart-pannel').empty() // On vide l'ancien panier pour le refaire

            // On configure le panier
        	$('div.cart-pannel').append(
        	`<div class="cart-total p-3 d-flex justify-content-between">
                    <div class="cart-total-title">
                        <big>TOTAL</big>
                        <small>(TTC - Hors livraison)</small>
                    </div>
                    <span class="cart-total-price">${cart.subtotal_cost}€</span>
                </div>
                <div class="cart-check pb-3 row justify-content-center">
                    <a href="/cart" class="btn btn-secondary btn-sm col-4">Voir le panier</a>
                    </form>
                </div>`);

        	// On ajoute les produit au panier...
            for (product of cart.products) {
            	// On ajoute la ligne de produit à la fenêtre
            	$('div.cart-total').before(
            	`<div class="cart-product row align-items-center" product_id="${product.id}"> 
                    <img class="p-2 col-3" src="/img/${product.image}">
                    <div class="col">
                        <a href="/product/${product.id}" class="cart-product-name">
                            ${product.name}
                        </a>
                        <span class="ml-2">x</span>
                        <span class="qty">${product.cart_qty}</span>
                    </div>
                    <span class="cart-product-price col-3">${product.price}€</span>
                    <form class="form-remove-cart col-1" action="/remove-cart" method="post" product_id="${product.id}">
                        <button type="submit" name="remove-cart" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>
                </div>`);
            }

		    // On ajoute l'evenement de suppression des objets du panier
		    $(`.cart-product form`).submit(function () {
		        var product_id = $(this).attr('product_id');
		        var nb = parseInt($('.cart-dropdown span').text());
		        var div_empty = `<div class="cart-empty row align-items-center"> 
		                                <span class="m-5 col"> Aucun produit dans le panier ...</span>
		                            </div>`

		        $.post("/remove-cart", {
		            id: product_id, 
		        })
		        .done(function (data) {
		            // on modifie le panier dynamiquement
		            updateCart(data);

		            // s'il n'y a plus rien dans le panier, on supprime le total et on ajoute le texte de vide
		            if (!data.products.length) {
		                $('.cart-pannel').empty();
		                $('.cart-pannel').append(div_empty);
		            }
		        });
		        return false; // on n'execute pas le submit normal
		    });

		    // Enfin, on modifie dynamiquement le bouton d'achat pour éviter de pouvoir en acheter 2 !
		    let front_available = true;
		    for (cart_product of cart.products) {
		    	if (cart_product.id == <%= product.id %>) front_available = false;
		    }

		    $('button[name="not-available"]').removeClass('hide');
		    $('button[name="add-cart"]').removeClass('hide');
		    if (!<%= product.available %>) {
		    	$('button[name="add-cart"]').addClass('hide');
		    	$('button[name="not-available"]').removeClass('hide')
		    	.html("Indisponible à l'achat");
		    } else if (!front_available) {
		    	$('button[name="add-cart"]').addClass('hide');
			    $('button[name="not-available"]').removeClass('hide')
			    .html('Merci pour votre achat ! <i class="fas fa-heart"></i>');
		    } else {
		    	$('button[name="add-cart"]').removeClass('hide');
			    $('button[name="not-available"]').addClass('hide');
		    }
		}

        /* Ajoute un produit au panier */
        $('form.form-product').submit(function () {
        	let type = '<%= product.type %>';

        	$.post("/add-cart", {
                id: <%= product.id %>, 
	            name: '<%= product.name %>',
	            available: <%= product.available %>,
	            price: <%= product.price %>,
	            weight: <%= product.weight %>,
	            cart_qty: 1,
	            img: '<%= imageList[0] %>',
            })
            .done( function (cart) {
            	updateCart(cart); // On met à jour le panier
            	
               	// on ajoute la notification
               	var notif = $(`<div class="notif-container col-12">
					            <div class="alert alert-success alert-dismissible fade show" role="alert">
					                <strong>Ajouté ! </strong> "<%= product.name %>" a bien été ajouté au panier
					                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					                    <span aria-hidden="true">&times;</span>
					                </button>
					            </div>
					        </div>`);

               	notif.insertBefore('#menuModal');
            });
			return false; // on n'execute pas le submit normal
        });
    </script>

</html>